body {
    font-family: Arial, sans-serif;
    margin-left: 300px;
    padding: 20px;
    background-color: #FFECD5;
}

header {
    background: #FFECD5;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #454545;
  overflow-x: hidden;
  padding-top: 20px;
}

sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

sidenav a:hover {
  color: #f1f1f1;
}



section {
    padding: 20px;
    background: #FFECD5;
}

footer {
    text-align: center;
    padding: 10px;
    background: #FFECD5;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
