body {
    font-family: Georgia, serif;
    margin-left: 300px;
    padding: 20px;
    background-color: #FFECD5;
}

header {
    background: #FFECD5;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff1e0;
  overflow-x: hidden;
  padding-top: 40px;
  text-align: center;
}

sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #202020;
  display: block;
}

sidenav b {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 13px;
  color: #202020;
  display: block;
}

sidenav c {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #202020;
  display: block;
}

sidenav d {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #202020;
  font-style: bold;
  display: block;
}


img {
  border-radius: 50%;
  border: 5px solid #555;
}

avatar {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


section {
    padding: 10px;
    background: #FFECD5;
    color: #202020;
}

footer {
    text-align: center;
    padding: 10px;
    background: #FFECD5;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
